* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  background: linear-gradient(135deg, rgba(75, 0, 204, 0.5882352941), #6600FF);
}
.header .search-bar {
  display: flex;
  align-items: center;
}
.header .search-bar input {
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 1em;
}
.header .search-bar button {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  background: linear-gradient(135deg, rgba(75, 0, 204, 0.5882352941), #6600FF);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}
.hero h1 {
  font-size: 2em;
  color: #ffffff;
}

.categories {
  padding: 4em 1em;
  text-align: center;
}
.categories h2 {
  margin-bottom: 1em;
}

#category-menu {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 0;
}

#category-menu li {
  padding: 8px 16px;
  border: 1px solid #6600FF;
  border-radius: 5px;
  color: #6600FF;
  text-decoration: none;
  font-weight: normal;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

#category-menu li:hover {
  background-color: #6600FF;
  color: #fff;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.products h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

#product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  height: 500px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-item h3 {
  font-size: 1.1rem;
  color: #6600FF;
  margin: 10px 0;
  flex-grow: 1;
}

.product-item p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.product-item button {
  background-color: #6600FF;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.product-item button:hover {
  background-color: #3a0092;
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-detail img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: 60px;
}

.product-detail h2 {
  font-size: 1.5rem;
  color: #6600FF;
  text-align: center;
  margin-bottom: 40px;
}

.product-detail p {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin-bottom: 60px;
}

.product-detail .price {
  font-weight: bold;
  color: #6600FF;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.product-detail .stock {
  color: #333;
  margin-bottom: 40px;
}

.product-detail button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #6600FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product-detail button:hover {
  background-color: #3a0092;
}

#back-to-category {
  background-color: #999;
}

#back-to-category:hover {
  background-color: #636363;
}

#shopping-cart {
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#shopping-cart h2 {
  color: #6600FF;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 40px;
}

/* Cart items container */
#cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cart item 1*/
#cart-items-info {
  padding: 60px 15px 60px 15;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cart-items-info:last-child {
  border-bottom: none;
}

#cart-items-info h3 {
  font-size: 1.2rem;
  max-width: 280px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

#cart-items-info p {
  font-size: 1rem;
  color: #666;
  margin: 3px 0;
  font-weight: bolder;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-container button {
  background-color: #6600FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 30px;
  margin: 10px 5px 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-container button:hover {
  background-color: #3a0092;
}

.quantity-container input[type=number] {
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Remove button  !  */
#remove button {
  background-color: #FF6666;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#remove button:hover {
  background-color: #cc0000;
}

#cart-total {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

#shopping-cart button {
  padding: 8px 15px;
  margin: 10px 5px;
  background-color: #6600FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#shopping-cart button:hover {
  background-color: #3a0092;
}

#product-list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

#cart-buy, #cart-back {
  padding: 8px 15px;
  margin: 10px 5px;
  background-color: #6600FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#cart-buy:hover, #cart-back:hover {
  background-color: #3a0092;
}

#cart-back {
  padding: 8px 15px;
  margin: 10px 5px;
  background-color: #999;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#cart-back:hover {
  background-color: #636363;
}

/* Peida Products pealkiri */
.products #title {
  display: none;
}/*# sourceMappingURL=style.css.map */